<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.mitsko.mrdb.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Registration</url-pattern>
        <url-pattern>/Sign_In</url-pattern>
        <url-pattern>/Take_Reviews</url-pattern>
        <url-pattern>/Add_Review</url-pattern>
        <url-pattern>/Rating</url-pattern>
        <url-pattern>/Add_Rating</url-pattern>
        <url-pattern>/Add_Movie</url-pattern>
        <url-pattern>/Change_Status</url-pattern>
        <url-pattern>/Remove_Movie</url-pattern>
        <url-pattern>/Sign_Out</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.mitsko.mrdb.controller.util.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>com.mitsko.mrdb.controller.util.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>StatusFilter</filter-name>
        <filter-class>com.mitsko.mrdb.controller.util.StatusFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StatusFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>
</web-app>